<div class="footerDiv">

    <div class="footerSocial">
        <a href="mailto:info@hms-keller.com" target="_blank"> <img src="assets/img/icon/email.png"> </a>
        <a href="https://web.whatsapp.com/send?phone=+49 151 43117127" target="_blank"> <img
                src="assets/img/icon/whatsapp.png"> </a>
        <a href="https://www.facebook.com/profile.php?id=100075779124736&ref=pages_you_manage" target="_blank"> <img
                src="assets/img/icon/facebook.png"> </a>
        <a href="https://www.instagram.com/hmskeller_offizielleraccount/" target="_blank"> <img
                src="assets/img/icon/instergram.png"> </a>
    </div>

    <div class="footerLogoDiv">
        <a routerLink="/"><img src="assets/img/logo-hms-background.png" class="footerLogo"></a>
    </div>

    <div class="footerImpressum">
        <a routerLink="/impressum">
            <span>Impressum</span>
        </a>
    </div>

    <div class="footerCopyright">
        <span>Copyright © Alle Rechte vorbehalten.</span>
    </div>

</div>