<div class="impressumDiv">
    <h1>Impressum</h1>

    <p>Angaben gemäß § 5 TMG<br />
        HMS-Keller <br>
        Hörgessing 3 <br>
        94474 Vilshofen an der Donau <br>
        Inhaber:<br />
        Alexander Keller</p>

    <h2>Kontakt</h2>
    <p>
        <a href="tel: 015143117127">Telefon: 0151/43117127</a><br/>
        <a href="mailto: info@hms-keller.com">E-Mail: info@hms-keller.com</a>
    </p>

    <p>
        Umsatzsteuer-ID <br>
        DE330932551
    </p>

    <p>
        Angaben zur Berufshaftpflichtversicherung <br>
        Name: <br>
        Generali <br>
        90313 Nürnberg
    </p>

</div>
<div>
    <div class="i-1">
        Verbraucherstreitbeilegung / Universalschlichtungsstelle
        Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
        2 / 4
        Verbraucherschlichtungsstelle teilzunehmen.
        Haftung für InhalteN
        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach dene
        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
        verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zuue
        forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
        Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt derr
        Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
        Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
        Haftung für LinksT
        Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
        Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte derext
        verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
        Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
    </div>

    <div class="i-1">
        waren zum Zeitpunkt der Verlinkung nicht erkennbar.
        Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte eine
        Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
        umgehend entfernen.
        Urheberrecht
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
        Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
    </div>

    <div class="i-1">
        Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
    </div>

    <div class="i-1">
        Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
        beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
        Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
    </div>

    <div class="i-2">
        <a target="_blank" href="https://icons8.com/icon/9491/hausmeister">Hausmeister</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> |
        <a target="_blank" href="https://icons8.com/icon/25377/haus-mit-garten">Haus mit Garten</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> |
        <a target="_blank" href="https://icons8.com/icon/7188/haushalt">Reinigung</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> |
        <a target="_blank" href="https://icons8.com/icon/3370/winter">Winter</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</div>