.impressumDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.i-1 {
    text-align: center;
    margin: 30px;
    font-size: 18px;
    font-weight: 300;
}

p {
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}