<div>

    <div class="homeScreen">
        <h1>HMS-Keller</h1>

        <div class="homeServiceDiv">
            <a routerLink="/leistungen"> <div class="h-Serve-Block">
                <img src="assets/img/icon/icons8-hausmeister-100.png">
                <span>Hausmeisterservice</span>
            </div> </a>
            <a routerLink="/leistungen"> <div class="h-Serve-Block">
                <img src="assets/img/icon/icons8-haus-mit-garten-100.png">
                <span>Garten- Landschaftsbau / Pflege</span>
            </div> </a>
            <a routerLink="/leistungen"> <div class="h-Serve-Block">
                <img src="assets/img/icon/icons8-reinigung-100.png">
                <span>Reinigung</span>
            </div> </a>
            <a routerLink="/leistungen"> <div class="h-Serve-Block">
                <img src="assets/img/icon/icons8-winter-100.png">
                <span>Winterdienst</span>
            </div> </a>
        </div>
    </div>

    <div class="homeDiv">

        <div class="h-d-1">
            <span class="h-1">
                Gartenlandschaftsbau | Garten Landschaftspflege | Objektbetreuung | Winterdienst
            </span>
        </div>


        <div class="h-d-2">
            <h2> vom Profi aus Vilshofen </h2>

            <span class="h-2">
                MIT UNSEREM HAUSMEISTERSERVICE KELLER BUCHEN SIE DEN OPTIMALEN PARTNER!
            </span>

            <span class="h-3">
                Wir sind im Landkreis Passau, Freyung-Grafenau, Deggendorf mit unseren umfassenden Leistungen für Sie
                da.
            </span>

            <span class="h-4">
                Erfahren Sie auch mehr zu uns im Bereich Gewerbe, Privat unter unseren <a
                    routerLink="/leistungen">Leistungen</a>
            </span>
        </div>

        <div class="divHomeImg">
            <img src="assets/img/logo hms.png" class="homeImg">
        </div>

    </div>

</div>