.leistungenDiv {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("/assets/img/HomeScreenImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.leistungenTableDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: #b4b4b4;
  text-align: center;

  span {
    text-align: center;
    margin: 5px;
  }

  a {
    text-align: center;
    transition: all 125ms ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.tableText {
  font-size: 18px;
}

.lastText {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
